# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


# UptimeRobot credentials, from https://uptimerobot.com/dashboard#mySettings
UPTIMEROBOT_API_KEY=


# Gandi PAT, from https://admin.gandi.net/organizations/677fc86a-b362-11e7-bcf1-00163ec388ae/account/pat
GANDI_PERSONAL_ACCESS_TOKEN=
