apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: docker-registry-credentials
data:
  # Base64-encoded: {"auths":{"docker.jacquev6.net":{"username":"jacquev6","password":"password","auth":"amFjcXVldjY6cGFzc3dvcmQ="}}}
  # amFjcXVldjY6cGFzc3dvcmQ= decodes to jacquev6:password
  .dockerconfigjson: eyJhdXRocyI6eyJkb2NrZXIuamFjcXVldjYubmV0Ijp7InVzZXJuYW1lIjoiamFjcXVldjYiLCJwYXNzd29yZCI6InBhc3N3b3JkIiwiYXV0aCI6ImFtRmpjWFZsZGpZNmNHRnpjM2R2Y21RPSJ9fX0=
